.app-info{
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #fcfaf5;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);

}

/* scss bilan ishlash ulash npm i sass nmp packeti kerak chunki reactham browserham scss ni tanimaydi shu sabab Compiled qilish kerak npm i sass o'rnatilishi kerak va qaytadan loyihani ishga tushurish kerak*/